* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*=============================== universal classes ================================*/

.container {
    width: 65%;
    margin: 0px auto;
    overflow: auto;
}

/*=============================== header section styling ========================== */


/*=============================== navbar-one styling ========================== */

header {
    background-color: #FFFFFF;
}

.nav-one {
    background-color: #F5F5F5;
    width: 100%;
    overflow: auto;
    border-bottom: 2px solid #DEDEDE;
}

.nav-item-wrapper {
    /* padding: 6px 0px; */
}

.nav-item {
    float: left;
    padding: 7px 4px 4px 4px;
}

#logo-box {
    background-color: #FFFFFF;
    padding: 8px 9px;
    /* box-shadow: 0 0 7px 1px #666666;
    box-shadow: 0 0 7px 1px #666666; */
    box-shadow: 0px 0px 6px 3px #8f8f8f;
}

#aboutUs-box {
    padding: 10px 9px 4px 9px;
    border-right: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
}

#pokemon-trading-card {
    padding-left: 7px;
}

/*=============================== navbar-one styling ========================== */

.nav-two {
    height: 85px;
}

.nav-two .nav-two-item-wrapper .nav-two-item {
    float: left;
    width: 125px;
}

.nav-two .nav-two-item-wrapper .home-box {
    background-color: #919191;
}

.nav-two .nav-two-item-wrapper .nav-two-item .img-bunny {
    width: 25px;
}

.nav-two .nav-two-item-wrapper .pokedex-box {
    background-color: #E3350D;
}

.nav-two .nav-two-item-wrapper .nav-two-item .img-pokeball {
    width: 25px;
}

.nav-two .nav-two-item-wrapper .vid-game-app-box {
    background-color: #EE6B2F;
}

.nav-two .nav-two-item-wrapper .nav-two-item .img-plus-sign {
    width: 25px;
}

.nav-two .nav-two-item-wrapper .trading-card-game-box {
    background-color: #E6BC2F;
}

.nav-two .nav-two-item-wrapper .nav-two-item .img-cards {
    width: 40px;
}

.nav-two .nav-two-item-wrapper .animation-box {
    background-color: #4DAD5B;
}

.nav-two .nav-two-item-wrapper .nav-two-item .img-tv-show {
    width: 25px;
}

.nav-two .nav-two-item-wrapper .play-pokemon-events {
    background-color: #30A7D7;
}

.nav-two .nav-two-item-wrapper .nav-two-item .img-crown-pokemon {
    width: 25px;
}

.nav-two .nav-two-item-wrapper .news-box {
    background-color: #1B53BA;
}

.nav-two .nav-two-item-wrapper .nav-two-item .img-news {
    width: 25px;
}