* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*=============================== universal classes ================================*/

.container {
    width: 65%;
    margin: 0px auto;
    overflow: auto;
}

/*=============================== header section styling ========================== */

header {
    background-color: #FFFFFF;
}

.nav-one {
    background-color: #F5F5F5;
    width: 100%;
    overflow: auto;
    border-bottom: 2px solid #DEDEDE;
}

.nav-item-wrapper {
    /* padding: 6px 0px; */
}

.nav-item {
    float: left;
    padding: 7px 4px 4px 4px;
}

#logo-box {
    background-color: #FFFFFF;
    padding: 8px 9px;
}

#aboutUs-box {
    padding: 10px 9px 4px 9px;
    border-right: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
}

#pokemon-trading-card {
    padding-left: 7px;
}